*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
.cabecalho {
    background-color: #4b5380;
    color: #050f13;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: auto;
    padding: 0 32px;
}
.escola-imagem{
    width: 20%;
}
.Escola{
    background-image: linear-gradient(#7b3b94a1,#4EBFE9);
    color: #e5e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

}
.escola-div-conteudo{
width: 65%;
}
.escola-titulo{
    padding: 12px 0;
}
.estutante-imagem{
    width: 210px;
}
.estudante-icone{
    width: 28px;
}

.estutante-div{
    text-align: center;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.estudante{
    background-image: linear-gradient(#4EBFE9,#17313b);
}
.rodape{
    background-color: black;
    text-align: center;
}
.rodape-imagem{
    height: 130px;
    padding: 12px 0;
}